<div class="overflowForTable mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container cdkColumnDef="position" sticky>
      <mat-header-cell *cdkHeaderCellDef mat-sort-header [style.width.px]="positionWidth">
        <span class="headerTitle">No.</span>
        <div class="resizeColumnLine" (click)="$event.stopPropagation()" (panstart)="panstart($event)" (panmove)="panmove($event)"></div>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let element" [style.width.px]="positionWidth">
        <div class="cellContent"> 
          <img src="../../assets/download.jpg" style="width:100%"> 
        </div>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header [style.width.px]="nameWidth">
        <span class="headerTitle">Name is super man</span>
        <div class="resizeColumnLine" (click)="$event.stopPropagation()" (panstart)="panstart1($event)" (panmove)="panmove1($event)"></div>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let element" [style.width.px]="nameWidth">
        <div class="cellContent"> {{element.name}} </div>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="weight">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header [style.width.px]="weightWidth" arrowPosition="before" class="alignRight">
        <span class="headerTitle">Weight is super man</span>
        <div class="resizeColumnLine" (click)="$event.stopPropagation()" (panstart)="panstart2($event)" (panmove)="panmove2($event)"></div>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let element" [style.width.px]="weightWidth" class="alignRight">
        <div class="cellContent"> {{element.weight}} </div>
        <span class="icon">I</span>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="symbol">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header [style.width.px]="symbolWidth">
        <span class="headerTitle">Symbol</span>
        <div class="resizeColumnLine" (click)="$event.stopPropagation()" (panstart)="panstart3($event)" (panmove)="panmove3($event)"></div>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let element" [style.width.px]="symbolWidth">
        <div class="cellContent"> {{element.symbol}} </div>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="action">
      <mat-header-cell *cdkHeaderCellDef class="actionHeaderCell"></mat-header-cell>
      <mat-cell *cdkCellDef="let element" class="actionCell">
        <div class="overOtherColumn">
          <span class="icon">A</span>
          <span class="icon">B</span>
          <span class="icon">C</span>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *cdkHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>