:host {
  padding: 100px;
  display: block;
}

.overflowForTable{
  width:100%;
  overflow: auto;
}

mat-header-row,
mat-row {
  min-height: 40px; // follow adwords
  flex-wrap: nowrap;
  border:none;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    bottom:0;
    height:1px;
    width:100%;
    background: #e0e0e0;
  }
}

mat-row:last-child mat-cell{
  border-bottom:none;
}

mat-header-cell,
mat-cell {
  font-size: 12px;
  flex: none;
  overflow: visible;
  border-bottom:1px solid #e0e0e0;
}

mat-header-cell ~ mat-header-cell,
mat-cell ~ mat-cell {
  border-right: 1px solid #e0e0e0;
}

mat-header-cell {
  padding: 8px; // follow adwords
  span{
    user-select: none;
  }
}
mat-cell {
  padding: 0 8px; // follow adwords
}

//drag line
.mat-header-cell {
  position: relative;
  .lineHoverArea:active + .lineActiveArea{
    opacity: 1;
  }
  .lineHoverArea,
  .lineActiveArea {
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 1px;
    margin-right: -11px;
    opacity: 0;
    transition: opacity 436ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
    pointer-events: initial;
    cursor: ew-resize;
    z-index: 1;
  }
  .lineActiveArea{
    margin-right: -6px;
    background: #1a73e8;
    &.active{
      opacity: 1;
    }
  }
}
