<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container cdkColumnDef="position">
    <mat-header-cell *cdkHeaderCellDef [style.width.px]="positionWidth">
      <span>No.</span>
      <div class="lineActiveArea" #positionLineActiveArea></div>
      <div class="lineHoverArea" (panstart)="panstart($event, positionLineActiveArea)" (panmove)="panmove($event)" (panend)="panend(positionLineActiveArea)"></div>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let element" [style.width.px]="positionWidth"> {{element.position}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef [style.width.px]="nameWidth">
      <span>Name</span>
      <div class="lineActiveArea" #nameLineActiveArea></div>
      <div class="lineHoverArea" (panstart)="panstart1($event, nameLineActiveArea)" (panmove)="panmove1($event)" (panend)="panend1(nameLineActiveArea)"></div>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let element" [style.width.px]="nameWidth"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="weight">
    <mat-header-cell *cdkHeaderCellDef [style.width.px]="weightWidth">
      <span>Weight</span>
      <div class="lineActiveArea" #weightLineActiveArea></div>
      <div class="lineHoverArea" (panstart)="panstart2($event, weightLineActiveArea)" (panmove)="panmove2($event)" (panend)="panend2(weightLineActiveArea)"></div>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let element" [style.width.px]="weightWidth"> {{element.weight}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="symbol">
    <mat-header-cell *cdkHeaderCellDef [style.width.px]="symbolWidth">
      <span>Symbol</span>
      <div class="lineActiveArea" #symbolLineActiveArea></div>
      <div class="lineHoverArea" (panstart)="panstart3($event, symbolLineActiveArea)" (panmove)="panmove3($event)" (panend)="panend3(symbolLineActiveArea)"></div>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let element" [style.width.px]="symbolWidth"> {{element.symbol}} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>